[Unit]
Description=DHT Thingsboard
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/dht_thingsboard/dht_thingsboard
Restart=on-abort
 
[Install]
WantedBy=multi-user.target