[Unit]
Description=DHT Thingsboard
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/blink/blink
Restart=on-abort
 
[Install]
WantedBy=multi-user.target